    /*
    1) Content — ეს არის შიგთავსი (ტექსტი ან სურათი) რასაც ვხედავთ ელემენტში
    2) Padding — შიდა დაშორება შიგთავსსა და ჩარჩოს (border) შორის
    3) Border — ჩარჩო რომელიც გარს აკრავს ელემენტს
    4) Margin — გარე დაშორება ელემენტსა და სხვა ელემენტებს შორის
    */

    #container {
        text-align: center;
        width: 300px;
        height: 200px;
        background-color: lightblue;

        padding: 20px;
        border: 5px solid black;
        margin: 30px;       
    }

    body {
        background-color: #f2f2f2;
    }