    body {
        background-color: #f0f0f0;
    }

    .box1 {
        background-color: #ff6666;
        width: 200px;
        height: 100px;
        margin: 20px;
        padding: 15px;
    }

    .box2 {
        background-color: #66b3ff;
        width: 250px;
        height: 120px;
        margin: 30px;
        padding: 25px;
    }

    .box3 {
        background-color: #66ff99;
        width: 300px;
        height: 150px;
        margin: 40px;
        padding: 20px;
    }

    .box4 {
        background-color: #ffcc66;
        width: 350px;
        height: 80px;
        margin: 10px 50px;
        padding: 30px;
        color: black;
    }

    .box5 {
        background-color: #cc99ff;
        width: 400px;
        height: 100px;
        margin: 50px;
        padding: 40px;
    }