th {
    background-color: yellow;
    text-align: right;
}


#nA{
    text-align: center;
    background-color: pink;
    
}

table {
    width: 400px;
}

#n {
    text-align: center;
    font-weight: bold;
}

hr {
    width: 400px;
}