        body {
            background-color: #e8f4ff; /* ფონის ფერი */
            font-family: 'Poppins', sans-serif;
            color: #222;
            padding: 0;
        }

        header {
            background-color: #05ff00;
            color: white;
            text-align: center;
        }

        h2 {
            color: #44ff00;
            text-align: center;
        }

        p {
            font-size: 18px;
        }


        .images img {
            width: 250px;
            height: 160px;
            border-radius: 20px;
        }

        footer {
            text-align: center;
            background-color: #1aff00;
            color: white;
        }